<!-- app/views/shared/_item_details.html.erb -->
<div class="item-details">
  <p class="text-lg font-semibold"><strong><%= item.name %></strong> </p>
  <p><strong>Seller:</strong> <%= link_to "#{item.seller.name}", user_profile_path(item.seller.user_profile), class: "text-blue-500 hover:text-blue-700 block mb-2" %></p>
  <p><strong>Category:</strong> <%= item.category_type %></p>
  <% if item.category_type == "plant" %>
    <p><strong>Species:</strong> <%= format_enum(item.species) %></p>
    <p><strong>Style:</strong> <%= format_enum(item.style) %></p>
    <p><strong>Stage:</strong> <%= format_enum(item.stage) %></p>
    <p><strong>Container Material:</strong> <%= format_enum(item.material) %></p>
    <p><strong>Container Shape:</strong> <%= format_enum(item.shape) %></p>
    <p><strong>Container Color:</strong> <%= format_enum(item.color) %></p>
    <p><strong>Container Size:</strong> <%= format_enum(item.size) %></p>
    <p><strong>Container Origin:</strong> <%= format_enum(item.origin) %></p>
  <% elsif item.category_type == "container" %>
    <p><strong>Material:</strong> <%= format_enum(item.material) %></p>
    <p><strong>Shape:</strong> <%= format_enum(item.shape) %></p>
    <p><strong>Color:</strong> <%= format_enum(item.color) %></p>
    <p><strong>Size:</strong> <%= format_enum(item.size) %></p>
    <p><strong>Origin:</strong> <%= format_enum(item.origin) %></p>
  <% elsif item.category_type == "essential" %>
    <p><strong>Essential Type:</strong> <%= format_enum(item.essential_type) %></p>
    <% if item.essential_type == "wire" %>
      <p><strong>Wire Type:</strong> <%= format_enum(item.wire_type) %></p>
    <% elsif item.essential_type == "tools" %>
      <p><strong>Tool Type:</strong> <%= format_enum(item.tool_type) %></p>
      <p><strong>Brand:</strong> <%= format_enum(item.brand) %></p>
      <p><strong>Condition:</strong> <%= format_enum(item.condition) %></p>
    <% end %>
  <% end %>
</div>
