<!-- app/views/items/_auction_fields.html.erb -->
<h2 class="mt-4 text-2xl font-semibold">Auction Details</h2>

<%= form.fields_for :auction do |auction_form| %>
  <div class="mb-4">
    <%= auction_form.label :starting_price, 'Starting Price', class: 'block text-sm font-medium text-gray-700' %>
    <%= auction_form.number_field :starting_price, step: 0.01, value: auction_form.object.starting_price, class: 'form-input mt-1 block w-full p-2 border rounded' %>
  </div>

  <div class="mb-4">
    <%= auction_form.label :bid_increment, 'Minimum Bid Increment', class: 'block text-sm font-medium text-gray-700' %>
    <%= auction_form.number_field :bid_increment, step: 0.01, value: auction_form.object.bid_increment, class: 'form-input mt-1 block w-full p-2 border rounded' %>
  </div>

  <div class="mb-4">
    <%= auction_form.label :start_date, 'Start Date', class: 'block text-sm font-medium text-gray-700' %>
    <%= auction_form.datetime_local_field :start_date, value: auction_form.object.start_date&.strftime('%Y-%m-%dT%H:%M:%S'), class: 'form-input mt-1 block w-full p-2 border rounded' %>
  </div>

  <div class="mb-4">
    <%= auction_form.label :end_date, 'End Date', class: 'block text-sm font-medium text-gray-700' %>
    <%= auction_form.datetime_local_field :end_date, value: auction_form.object.end_date&.strftime('%Y-%m-%dT%H:%M:%S'), class: 'form-input mt-1 block w-full p-2 border rounded' %>
  </div>

  <div class="mb-4">
    <%= auction_form.label :buy_it_now_price, 'Buy It Now Price', class: 'block text-sm font-medium text-gray-700' %>
    <%= auction_form.number_field :buy_it_now_price, step: 0.01, value: auction_form.object.buy_it_now_price, class: 'form-input mt-1 block w-full p-2 border rounded' %>
  </div>
<% end %>
