<div class="mb-4">
  <%= form.label :material, class: 'block text-sm font-medium text-gray-700' %>
  <%= form.text_field :material, class: 'form-input mt-1 block w-full p-2 border rounded' %>

  <%= form.label :shape, class: 'block text-sm font-medium text-gray-700 mt-4' %>
  <%= form.text_field :shape, class: 'form-input mt-1 block w-full p-2 border rounded' %>

  <%= form.label :color, class: 'block text-sm font-medium text-gray-700 mt-4' %>
  <%= form.text_field :color, class: 'form-input mt-1 block w-full p-2 border rounded' %>

  <%= form.label :size, class: 'block text-sm font-medium text-gray-700 mt-4' %>
  <%= form.text_field :size, class: 'form-input mt-1 block w-full p-2 border rounded' %>
</div>
