<div class="form-group">
  <%= form.label :material %>
  <%= form.text_field :material, class: 'form-control' %>

  <%= form.label :shape %>
  <%= form.text_field :shape, class: 'form-control' %>

  <%= form.label :color %>
  <%= form.text_field :color, class: 'form-control' %>

  <%= form.label :size %>
  <%= form.text_field :size, class: 'form-control' %>
</div>
