<div>
  <%= form.label :material, 'Material', class: 'block text-sm font-medium text-gray-700' %>
  <%= form.text_field :material, class: 'form-input mt-1 block w-full p-2 border rounded' %>
</div>

<div>
  <%= form.label :shape, 'Shape', class: 'block text-sm font-medium text-gray-700' %>
  <%= form.text_field :shape, class: 'form-input mt-1 block w-full p-2 border rounded' %>
</div>

<div>
  <%= form.label :color, 'Color', class: 'block text-sm font-medium text-gray-700' %>
  <%= form.text_field :color, class: 'form-input mt-1 block w-full p-2 border rounded' %>
</div>

<div>
  <%= form.label :origin, 'Origin', class: 'block text-sm font-medium text-gray-700' %>
  <%= form.text_field :origin, class: 'form-input mt-1 block w-full p-2 border rounded' %>
</div>

<div>
  <%= form.label :size, 'Size', class: 'block text-sm font-medium text-gray-700' %>
  <%= form.text_field :size, class: 'form-input mt-1 block w-full p-2 border rounded' %>
</div>
