<fieldset id="essential_fields" class="item_fields mb-4 hidden" aria-hidden="true">
  <legend class="text-lg font-semibold">Essential Details</legend>

  <%= form.label :essential_type, 'Essential Type', class: 'block text-sm font-medium text-gray-700' %>
  <%= form.select :essential_type, options_for_select([
    ['Select Essential', ''], 
    ['Books', 1], 
    ['Decorations', 2], 
    ['Soil', 3], 
    ['Stands', 4], 
    ['Supplements', 5], 
    ['Tools', 6], 
    ['Wire', 7], 
    ['Other', 8]
  ], selected: form.object.essential_type), {}, class: 'form-select mt-1 block w-full p-2 border rounded' %>
  <%= form.text_field :essential_other, class: 'form-input mt-2 block w-full p-2 border rounded hidden', placeholder: 'Other Essential Type', aria: { hidden: true } %>

  <div id="wire_fields" class="mb-4 hidden">
    <%= form.label :wire_type, 'Wire Type', class: 'block text-sm font-medium text-gray-700' %>
    <%= form.select :wire_type, options_for_select([
      ['Select Wire Type', ''], 
      ['Aluminum', 1], 
      ['Copper', 2], 
      ['Other', 3]
    ], selected: form.object.wire_type), {}, class: 'form-select mt-1 block w-full p-2 border rounded' %>
    <%= form.text_field :wire_other, class: 'form-input mt-2 block w-full p-2 border rounded hidden', placeholder: 'Other Wire Type', aria: { hidden: true } %>
  </div>

  <fieldset id="tools_fields" class="mb-4 hidden">
    <legend class="text-lg font-semibold">Tool Details</legend>

    <%= form.label :tool_type, 'Tool Type', class: 'block text-sm font-medium text-gray-700' %>
    <%= form.select :tool_type, options_for_select([
      ['Select Tool', ''], 
      ['Branch Splitters', 1], 
      ['Cutters', 2], 
      ['Pliers', 3], 
      ['Rakes', 4], 
      ['Shears', 5], 
      ['Other', 6]
    ], selected: form.object.tool_type), {}, class: 'form-select mt-1 block w-full p-2 border rounded' %>
    <%= form.text_field :tool_other, class: 'form-input mt-2 block w-full p-2 border rounded hidden', placeholder: 'Other Tool Type', aria: { hidden: true } %>

    <%= form.label :brand, 'Brand', class: 'block text-sm font-medium text-gray-700' %>
    <%= form.text_field :brand, class: 'form-input mt-1 block w-full p-2 border rounded' %>

    <%= form.label :condition, 'Condition', class: 'block text-sm font-medium text-gray-700' %>
    <%= form.text_field :condition, class: 'form-input mt-1 block w-full p-2 border rounded' %>
  </fieldset>
</fieldset>
