<fieldset id="essential_fields" class="item_fields mb-4 hidden" aria-hidden="true">
  <legend class="text-lg font-semibold">Essential Details</legend>

  <%= form.label :essential_type, 'Essential Type', class: 'block text-sm font-medium text-gray-700' %>
  <%= form.select :essential_type, options_for_select([['', '']] + Item.essential_types.keys.map { |key| [key == 'essential_other' ? 'Other' : key.humanize, key] }, selected: form.object.essential_type), {}, class: 'form-select mt-1 block w-full p-2 border rounded', id: 'item_essential_type', data: { selected_value: form.object.essential_type } %>
  <%= form.text_field :essential_other, value: form.object.essential_other, class: 'form-input mt-2 block w-full p-2 border rounded hidden', placeholder: 'Other Essential Type', aria: { hidden: true } %>

  <div id="wire_fields" class="mb-4 hidden">
    <%= form.label :wire, 'Wire Type', class: 'block text-sm font-medium text-gray-700' %>
    <%= form.select :wire, options_for_select([['', '']] + Item.wire_types.keys.map { |key| [key == 'wire_other' ? 'Other' : key.humanize, key] }, selected: form.object.wire_type), {}, class: 'form-select mt-1 block w-full p-2 border rounded', id: 'item_wire', data: { selected_value: form.object.wire_type } %>
    <%= form.text_field :wire_other, value: form.object.wire_other, class: 'form-input mt-2 block w-full p-2 border rounded hidden', id: 'item_wire_other', placeholder: 'Other Wire Type', aria: { hidden: true } %>
  </div>

  <fieldset id="tools_fields" class="mb-4 hidden">
    <legend class="text-lg font-semibold">Tool Details</legend>

    <%= form.label :tool, 'Tool Type', class: 'block text-sm font-medium text-gray-700' %>
    <%= form.select :tool, options_for_select([['', '']] + Item.tool_types.keys.map { |key| [key == 'tool_other' ? 'Other' : key.humanize, key] }, selected: form.object.tool_type), {}, class: 'form-select mt-1 block w-full p-2 border rounded', id: 'item_tool', data: { selected_value: form.object.tool_type } %>
    <%= form.text_field :tool_other, value: form.object.tool_other, class: 'form-input mt-2 block w-full p-2 border rounded hidden', placeholder: 'Other Tool Type', aria: { hidden: true } %>

    <%= form.label :brand, 'Brand', class: 'block text-sm font-medium text-gray-700' %>
    <%= form.text_field :brand, value: form.object.brand, class: 'form-input mt-1 block w-full p-2 border rounded' %>

    <%= form.label :condition, 'Condition', class: 'block text-sm font-medium text-gray-700' %>
    <%= form.select :condition, options_for_select([['', '']] + Item.conditions.keys.map { |key| [key.humanize, key] }, selected: form.object.condition), {}, class: 'form-select mt-1 block w-full p-2 border rounded', id: 'item_condition' %>
  </fieldset>
</fieldset>
