<div>
  <%= form.label :essential_type, 'Essential Type', class: 'block text-sm font-medium text-gray-700' %>
  <%= form.text_field :essential_type, class: 'form-input mt-1 block w-full p-2 border rounded' %>
</div>

<div>
  <%= form.label :wire, 'Wire', class: 'block text-sm font-medium text-gray-700' %>
  <%= form.text_field :wire, class: 'form-input mt-1 block w-full p-2 border rounded' %>
</div>

<div>
  <%= form.label :tool, 'Tool', class: 'block text-sm font-medium text-gray-700' %>
  <%= form.text_field :tool, class: 'form-input mt-1 block w-full p-2 border rounded' %>
</div>

<div>
  <%= form.label :brand, 'Brand', class: 'block text-sm font-medium text-gray-700' %>
  <%= form.text_field :brand, class: 'form-input mt-1 block w-full p-2 border rounded' %>
</div>

<div>
  <%= form.label :condition, 'Condition', class: 'block text-sm font-medium text-gray-700' %>
  <%= form.text_field :condition, class: 'form-input mt-1 block w-full p-2 border rounded' %>
</div>
