<div class="form-group">
  <%= form.label :species %>
  <%= form.text_field :species, class: 'form-control' %>

  <%= form.label :age %>
  <%= form.number_field :age, class: 'form-control' %>

  <%= form.label :pot_size %>
  <%= form.text_field :pot_size, class: 'form-control' %>
</div>
