<div class="mb-4">
  <%= form.label :species, class: 'block text-sm font-medium text-gray-700' %>
  <%= form.text_field :species, class: 'form-input mt-1 block w-full p-2 border rounded' %>

  <%= form.label :age, class: 'block text-sm font-medium text-gray-700 mt-4' %>
  <%= form.number_field :age, class: 'form-input mt-1 block w-full p-2 border rounded' %>

  <%= form.label :pot_size, class: 'block text-sm font-medium text-gray-700 mt-4' %>
  <%= form.text_field :pot_size, class: 'form-input mt-1 block w-full p-2 border rounded' %>
</div>
